/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

#switcher {
    margin: 20px 0;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#leagues {
    width: 100%;
    overflow-x: hidden;
    /* Hide horizontal overflow */
}

.league-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    /* Ensure the inner container takes full width */
}

.match-card {
    flex: 0 0 98%;
    /* Each card takes full width of the carousel */
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 0 5px;
    border-radius: 5px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    /*transform: translateY(-50%);*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.toggle-switch {
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.toggle-label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
    border-radius: 5px;
    transition: transform 0.3s ease;
    z-index: 0;
}

.toggle-input:checked+.toggle-label::before {
    transform: translateX(100%);
}

.toggle-text {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: white;
    z-index: 1;
    position: relative;
}